{% extends 'layout.html' %} {% block content %}
<div>
  {% if is_done %}
  <br />
  <br />
  <h1>You are now one of my elite empoyees!</h1>
  <img src="static\images\img-employee.png" style="width: 100%" />
  {% else %}
  <form action="/add.html" method="POST" class="box">
    {% if dupe %}
    <div>
      <p class="error_message">Email already exists</p>
    </div>
    {% endif %}
    <div>
      <br />
      <br />
      <br />
      <br />
      <label class="form-label">Email address</label>
      <br />
      <br />
      <input
        name="email"
        type="email"
        class="form-control"
        id="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
        placeholder="name@example.com"
      />
    </div>
    <br />
    <br />
    <div>
      <label class="form-label">Name</label>
      <br />
      <br />
      <textarea class="form-control" name="name" id="name" rows="1"></textarea>
      <br />
      <br />
    </div>
    <div>
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
